{% extends 'simulation/base.html' %}

{% block body %}

<form class="form-horizontal" role="form" style="" action="{% url 'simulation:modify_attributes' %}" method="POST">
      {% csrf_token %}
<div class="row">
<input type="hidden" name="json" value="{{ json }}">
<input type="hidden" name="job_type" value="batch">
    <div class="col-md-12">
    	<h1>Choose Attributes to Modify</h1>
	</div>
</div>

{% for modify in modifies %}
      <div class="row">
        <div class="col-md-3">{{ modify }}</div>
        <div class="col-md-9">
            <div class="radio">
                <input type="radio" id="choose_attributes_{{ modify }}1" name="choose_attributes:{{ modify }}" value="choose"><label for="choose_attributes_{{ modify }}1">Choose Values</label>
                <input type="radio" id="choose_attributes_{{ modify }}2" name="choose_attributes:{{ modify }}" value="linear"><label for="choose_attributes_{{ modify }}2">Linear Distribution</label>
                <input type="radio" id="choose_attributes_{{ modify }}3" name="choose_attributes:{{ modify }}" value="random"><label for="choose_attributes_{{ modify }}3">Random Distribution</label>
                <input type="radio" id="choose_attributes_{{ modify }}4" name="choose_attributes:{{ modify }}" value="no_change" checked><label for="choose_attributes_{{ modify }}4">No Change</label>
            </div>
        </div>
      </div>
{% endfor %}

        <div class="col-md-12">


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Continue To Attribute Setup</button>
            </div>
          </div>
        </div>
 </form>

{% endblock %}