{% extends 'simulation/base.html' %}

{% block body %}

<form class="form-horizontal" role="form" style="" action="{% url 'simulation:query_results' %}" method="POST">
    <div class="row">
        {% csrf_token %}
        <div class="col-md-12">
            <h1>Choose Search Query To Run</h1>
        </div>
    </div>
    

    <div class="tabs">
        <ul>
            {% for name, form_id, form_data, search_name in queries %}
            <li><a href="#{{ form_id }}">{{ name }}</a></li>
            {% endfor %}
        </ul>


        {% for name, form_id, form_data, search_name in queries %}
        <div id="{{ form_id }}">
            {{ form_data|safe }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" name="search_query" value="{{ name }}">{{ search_name }}</button>
                </div>
                <br><br>
            </div>
        </div>
        {% endfor %}
    </div>
</form>


{% endblock %}