{% extends 'simulation/base.html' %}

{% load staticfiles %}

{% block body %}

<div>
    <h1>User Community</h1>

    <blockquote>
        <p>None of us is as smart as all of us.</p>
        <footer>Ken Blanchard</footer>
    </blockquote>

    <p class="text_max">
        All of us bring something different to the table and together we can do what we can not do alone. Together we can pool our knoweldge from academia and industry to
        improve the state of the art for chromatography simulations to improve out understanding of what is happening, why it is happening and how we can use that information
        to improve processes.
    </p>

<p class="text_max">
        We are building a community around the <a href="https://github.com/modsim/CADET">CADET</a> project by providing free and open source software to both academia and industry. 
        This allows other researchers to contribute back to the project by sharing improvements, extensions, and use cases.
    </p>

    <p class="text_max">
        Current reference users of the CADET project include:
    </p>

    <p><a href="http://www.amgen.com/"><img src="{% static "simulation/amgen_logo.jpg" %}"></a></p>

    <p><a href="http://www.gsk.com/"><img src="{% static "simulation/gsk_logo.png" %}"></a></p>

    <p><a href="http://www.ime.fraunhofer.de/"><img src="{% static "simulation/fraunhofer_logo.jpg" %}"></a></p>
    
    <p><a href="http://www.kbibiopharma.com/"><img src="{% static "simulation/kbi_expanded.png" %}"></a></p>

    <p><a href="http://www.biotechcmz.com/" class="link-unstyled">Prof. Anurag Rathore (Indian Institute of Technology, Delhi)</a></p>

    <ul>
        <li>
            <p class="text_max">
                Vijesh Kumar, Samuel Leweke, Eric von Lieres, Anurag S. Rathore
                <a href="http://dx.doi.org/10.1016/j.chroma.2015.11.062">
                    Mechanistic modeling of ion-exchange process chromatography of charge variants of monoclonal antibody products
                </a>,
                Journal of Chromatography A Volume 1426, 24 December 2015, Pages 140-153
            </p>
        </li>
        <li>
            <p class="text_max">
                Lalita K. Shekhawat, Apurva P. Manvar, Anurag S. Rathore
                <a href="http://dx.doi.org/10.1016/j.memsci.2015.10.063">
                    Enablers for QbD implementation: Mechanistic modeling for ion-exchange membrane chromatograph
                </a>,
                Journal of Membrane Science Volume 500, 15 February 2016, Pages 86-98
            </p>
        </li>
    </ul>


</div>




{% endblock %}