{% extends 'simulation/base.html' %}

{% block body %}
<form class="form-horizontal" role="form" style="" action="{% url 'simulation:column_setup' %}" method="POST">
      {% csrf_token %}
      <div class="row">
      
            <div class="form-group">
              <div class="col-sm-12">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary {% if advanced_ui == 'normal' %} active {% endif %} " {% if advanced_ui == 'normal' %} checked {% endif %} onclick="$('body').removeClass('advanced').addClass('normal');">
                  <input type="radio" name="advanced_ui" value="normal" id="option1" autocomplete="off"> Normal User Interface
                </label>
                <label class="btn btn-primary {% if advanced_ui == 'advanced' %} active {% endif %}" {% if advanced_ui == 'advanced' %} checked {% endif %} onclick="$('body').addClass('advanced').removeClass('normal');">
                  <input type="radio" name="advanced_ui" value="advanced" id="option2" autocomplete="off"> Advanced User Interface
                </label>
              </div>  
              </div>
            </div>
      
      <input type="hidden" name="json" value="{{ json }}">
        <div class="col-md-12">
          <h1>Component Names</h1>
          
				<div class="form-group">
				  <div class="col-sm-2">
				    <label for="component1" class="control-label">Component 1 Name</label>
				  </div>
				  <div class="col-sm-10">
				    <input type="text" class="form-control required" id="component1" readonly name="component1" value="Salt">
				  </div>
				</div>	

			 {% for idx, value in comps %}
				<div class="form-group">
				  <div class="col-sm-2">
				    <label for="component{{ idx }}" class="control-label">Component {{ idx }} Name</label>
				  </div>
				  <div class="col-sm-10">
				    <input type="text" class="form-control required" id="component{{ idx }}" name="component{{ idx }}" value="{{ value }}">
				  </div>
				</div>			      
			 {% endfor %}
            
          <h1>Step Names</h1>
            {% for idx, value in steps %}
				<div class="form-group">
				  <div class="col-sm-2">
				    <label for="step{{ idx }}" class="control-label">Step {{ idx }} Name</label>
				  </div>
				  <div class="col-sm-10">
				    <input type="text" class="form-control required" id="step{{ idx }}" name="step{{ idx }}" value="{{ value }}">
				  </div>
				</div>			      
			 {% endfor %}
 
		 <div class="form-group">
		  <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-danger back" data-post="{{ back }}" formnovalidate>Back To {{ back_text }}</button>
		    <button type="submit" class="btn btn-success">Continue&nbsp;To&nbsp;Column&nbsp;Setup</button>
		  </div>
		</div>         
          
        </div>
      </div>
</form>

{% endblock %}