{% extends 'simulation/base.html' %}

{% block body %}
<form class="form-horizontal" role="form" style="" action="{% url 'simulation:run_job' %}" method="POST">
      {% csrf_token %}
      <div class="row">
      <input type="hidden" name="json" value="{{ json }}">
        <div class="col-md-12">
          <h1>Confirm Job and Run</h1>
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>Study Name
              <ul>
                <li>{{ study_name }}</li>
              </ul>
            </li>
            <li>Model Name
              <ul>
                <li>{{ model_name }}</li>
              </ul>
            </li>
            <li>Product Name
              <ul>
                <li>{{ product }}</li>
              </ul>
            </li>
            <li>Isotherm Name
              <ul>
                <li>{{ ADSORPTION_TYPE_HUMAN }}</li>
              </ul>
            </li>
            <li>Steps
              <ul>
                {% for data in steps %}
                      <li>{{ data }}</li>
                {% endfor %}
              </ul>
            </li>
            <li>Components
              <ul>
                {% for data in comps %}
                      <li>{{ data }}</li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-danger back" data-post="{{ back }}" formnovalidate><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To {{ back_text }}</button>
                <button type="submit" class="btn btn-success">Run Job <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
              </div>
            </div>
        </div>
      </div>
      </form>

{% endblock %}