{% extends 'simulation/base.html' %}

{% block body %}

{% for id, name in graphs_common %}

<div class="jumbotron graph_wide">
    <h3>{{ name }}</h3>
    <div>
        <div class="row graph_row">
            <div class="col-md-9 tall" id="{{ id }}"></div>
            <div class="col-md-3 tall" id="{{ id }}choice"></div>
        </div>
        <div class="row">
            <div class="col-md-9 small" id="{{ id }}overview"></div>
        </div>
    </div>
</div>

{% endfor %}



<script type="text/javascript">

    $("body").addClass("loading");

    var colors = ['Black', 'Red', 'Blue', 'Lime', 'Cyan', 'BlueViolet', 'Crimson', 'DeepPink', 'DarkMagenta', 'Green',
        'Indigo', 'Magenta', 'MidnightBlue', 'Orange', 'Purple', 'Silver', 'Tan'];

    var symbols = ['circle', 'square', 'diamond', 'triangle', 'cross']

    function start_plot(datasets, element, choices, overview_id, base_id) {
        // hard-code color indices to prevent them from shifting
        var datasets = datasets;
        var i = 0;
        var lookup = {};

        var i = 0;
        var all_data = [];

        $.each(datasets.data, function (key, val) {
            $.each(val, function (label, obj) {
                obj.color = colors[i % colors.length];
                obj.shadowSize = 0;
                all_data.push(obj);
                ++i;
            });
        });
        console.log(datasets);
        // insert checkboxes
        var choiceContainer = $(choices);
                
        for (var key in datasets['components']) {
            choiceContainer.append("<div class='row'><div class='col-sm-4'><input type='checkbox' name='" + datasets['components'][key].label +
				"' checked='checked' id='id" + base_id + key + "'></input>" +
				"<label for='id" + base_id + key + "'>"
				+ datasets['components'][key].label + "</label></div></div>");
        };

        choiceContainer.append("<br/><a href='#' role='button' class='btn btn-default' id='" + base_id + "zoom'>Reset Zoom</a>");
        choiceContainer.append("<br/><a href='#' role='button' class='btn btn-default' id='" + base_id + "download'>Download Current Graph</a>");

        choiceContainer.find("input").click(plotAccordingToChoices);

        $('#' + base_id + 'zoom').click(function (e) {
            plotAccordingToChoices();
            e.preventDefault();
        });

        $('#' + base_id + 'download').click(function (e) {
            var link = $('#' + base_id + 'download');
            var search = element + ' > canvas:first';

            //link.href = $("'" + element + ' > canvas:first' + "'")[0].toDataURL();

            if ($(search)[0].msToBlob) { //for IE
                var blob = $(search)[0].msToBlob();
                window.navigator.msSaveBlob(blob, base_id + '.png');
            } else {
                //other browsers
                link.attr('href', $(search)[0].toDataURL("image/png"));
                link.attr('download', base_id + '.png');
            }


            //e.preventDefault();
        });

        function plotAccordingToChoices() {

            var data = [];

            choiceContainer.find("input:checked").each(function () {
                var key = $(this).attr("name");

                $.each(datasets.data, function (data_set_name, val) {
                    $.each(val, function (label, obj) {
                        if (key == obj.comp_type) {
                            data.push(obj);
                        }
                    });
                });
            });

            var plot = $.plot(element, data, {
                canvas: true,
                axisLabels: {
                    show: true,
                },
                yaxis: {
                    tickFormatter: function (v, axis) { return v.toExponential(2);},
                    position: 'left',
                    axisLabel: 'Concentration Protein (mMol)',
                    axisLabelUseCanvas: true
                },
                y2axis: {
                    tickFormatter: function (v, axis) { return v.toExponential(2); },
                    position: 'right',
                    axisLabel: 'Concentration Salt (mMol)',
                    axisLabelUseCanvas: true
                },
                xaxis: {
                    axisLabel: 'Time(s)',
                    axisLabelUseCanvas: true,
                    axisLabelPadding: 8,
                },
                zoom: {
                    interactive: true
                },
                pan: {
                    interactive: false
                },
                legend: {
                    position: 'ne'
                },
                selection: {
                    mode: "xy"
                },
                yaxes: [{}, { position: "right" }]
            });

            var overview = $.plot(overview_id, all_data, {
                canvas: true,
                xaxis: {
                    ticks: [],
                },
                yaxis: {
                    ticks: [],
                    autoscaleMargin: 0.1
                },
                legend: {
                    show: false
                },
                selection: {
                    mode: "x"
                }
            });

            // now connect the two

            $(element).bind("plotselected", function (event, ranges) {

                // do the zooming
                $.each(plot.getXAxes(), function (_, axis) {
                    var opts = axis.options;
                    opts.min = ranges.xaxis.from;
                    opts.max = ranges.xaxis.to;
                });
                plot.setupGrid();
                plot.draw();
                plot.clearSelection();

                // don't fire event on the overview to prevent eternal loop

                overview.setSelection(ranges, true);
            });

            $(overview_id).bind("plotselected", function (event, ranges) {
                plot.setSelection(ranges);
            });

        }

        plotAccordingToChoices();
    }

    $(document).ready(function () {
        var data;

        function fetchData() {

            function onDataReceived(json_data) {
                data = json_data.comparison_data;

                $("body").removeClass("loading");
                for (var key in data) {
                    start_plot(data[key], "#" + key, "#" + key + 'choice', "#" + key + 'overview', key);
                }

                
            }

            $.ajax({
                url: "{{ json_url }}",
                type: "GET",
                dataType: "json",
                cache: false,
                data: { 'selected': '{{ selected_jobs }}',  {% for id, name in session_lookup %} '{{ id }}': '{{ name }}',  {% endfor %}  },
                success: onDataReceived
            });
        }

        fetchData();
    });
</script>

{% endblock %}