{% extends 'simulation/base.html' %}

{% block body %}
<form class="form-horizontal" role="form" style="" action="{% url 'simulation:sensitivity_setup' %}" method="POST">
      {% csrf_token %}
      <div class="row">
      <input type="hidden" name="json" value="{{ json }}">
        <div class="col-md-12"><h2>General Graphs</h2></div>
        
          <div class="form-group">
              <div class="col-sm-12">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default {% if advanced_ui == 'normal' %} active {% endif %} " {% if advanced_ui == 'normal' %} checked {% endif %} onclick="$('body').removeClass('advanced').addClass('normal');">
                  <input type="radio" name="advanced_ui" value="normal" id="option1" autocomplete="off"> Normal User Interface
                </label>
                <label class="btn btn-default {% if advanced_ui == 'advanced' %} active {% endif %}" {% if advanced_ui == 'advanced' %} checked {% endif %} onclick="$('body').addClass('advanced').removeClass('normal');">
                  <input type="radio" name="advanced_ui" value="advanced" id="option2" autocomplete="off"> Advanced User Interface
                </label>
              </div>  
              </div>
            </div>        
        
        <div class="col-md-12 normal"><p>If you would like to manually select graphs changed to advanced mode. By default a chromatogram is generated.</p></div>
        
        <div class="col-md-12 advanced">
           {% for graph, checked_yes, checked_no in graph_single %}
	            <div class="form-group">
	              <div class="col-sm-offset-2 col-sm-10">
                    <div class="radio">
                        <div class="col-sm-4">{{ graph }}</div>
    				    <input type="radio" id="{{ graph }}1" name="graph_single:{{ graph }}" {{ checked_yes|safe }} value="1"><label for="{{ graph }}1">Yes</label>
    				    <input type="radio" id="{{ graph }}2" name="graph_single:{{ graph }}" {{ checked_no|safe }} value="0"><label for="{{ graph }}2">No</label>
     			    </div>
	              </div>
	            </div> 
	       {% endfor %}
		</div>

       {% if job_type == "batch" and graph_group %}
        <div class="col-md-12"><h2>Batch Graphs</h2></div>
        <div class="col-md-12 advanced">
           {% for graph, checked_yes, checked_no in graph_group %}
	            <div class="form-group">
	              <div class="col-sm-offset-2 col-sm-10">
	                <div class="radio">
                        <div class="col-sm-4">{{ graph }}</div>
    				    <input type="radio" id="{{ graph }}1" name="graph_group:{{ graph }}" {{ checked_yes|safe }} value="1"><label for="{{ graph }}1">Yes</label>
    				    <input type="radio" id="{{ graph }}2" name="graph_group:{{ graph }}" {{ checked_no|safe }} value="0"><label for="{{ graph }}2">No</label>
     			    </div>
	              </div>
	            </div> 
	       {% endfor %}
		</div>		
       {% endif %}
		<div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-danger back" data-post="{{ back }}" formnovalidate><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To {{ back_text }}</button>
                <button type="submit" class="btn btn-success">Continue to Sensitivity Setup <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
              </div>
            </div>
        </div>
</div>
</form>

{% endblock %}