{% extends 'simulation/base.html' %}

{% load staticfiles %}

{% block body %}
     <section>
      <div class="container">
          <div class="row">
              <table class="logo"><tr><td><img src="{% static "simulation/CADET-GitHub.png" %}"></td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><h1>Web</h1><h1>Interface</h1></td></tr></table>
      </div>
        <div class="row">
          <div class="col-md-12">
              <h3>Examples</h3>
              <ul><li><a href="/simulation/single_start/?path=9ffce36d4505dc09f9a6a89c252be34dce54952d4d8ddf48b27fe3a992b9d303">4 component SMA</a></li></ul>

              {% if request.user.is_superuser  %}
              <p><a class="btn btn-primary" href="{% url 'simulation:sync_db' %}">Sync Database</a></p>
              {% endif %}

              <p>This website allows researchers and teachers to use the CADET chromatography simulation software to simulation a single
              chromatography column with multiple steps and components with different isotherms including Steric Mass Action and Langmuir.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a class="btn btn-default" href="{% url 'simulation:single_start' %}">Create&nbsp;Single&nbsp;Situation</a>
          </div>
          <div class="col-md-9">
            <p>From here you can create a basic chromatography simulation. You can use any available isotherm, components
            or steps and are only limited by CPU time and memory usage. One the simulation is completed you can view graphs,
            share the link with others so they can view it, use the simulation to make more simulations and also download the
            complete simulation data so you can analyze it with any tool that can read HDF5 files.</p>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-default" href="{% url 'simulation:create_batch_simulation' %}">Create&nbsp;Batch&nbsp;Simulation</a>
        </div>
        <div class="col-md-9">
          <p>This allows the creation of a set of simulations that vary one or more parameters from a single simulation.
          This requires an already completed simulation to be used as a starting point.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-default" href="{% url 'simulation:choose_search_query' %}">Find&nbsp;Simulation</a>
        </div>
        <div class="col-md-9">
          <p>You can use this to find any simulation you have created so you can review the results, download the simulation
          or use the simulation as the basis for a new simulation.</p>
        </div>
      </div>
    </div>

{% endblock %}
