{% extends 'simulation/base.html' %}

{% load staticfiles %}

{% block body %}
     <section>
      <div class="container">
          <div class="row">
              <table class="logo"><tr><td><img src="{% static "simulation/CADET-GitHub.png" %}">
              <h3>Web Interface</h3></td></tr></table>
      </div>

<p>This website allows researchers and teachers to use the CADET chromatography simulation software to simulation a single
              chromatography column with multiple steps and components with different isotherms including Steric Mass Action and Langmuir.</p>

<div class="row">
          <div class="col-md-3">
            <a class="btn btn-default" href="{% url 'simulation:single_start' %}"
               data-toggle="tooltip" data-placement="bottom" title="Create a new simulation from scratch">Create&nbsp;Single&nbsp;Situation</a>
          </div>
          
          <div class="col-md-9">
            <p>From here you can create a basic chromatography simulation. You can use any available isotherm, components
            or steps and are only limited by CPU time and memory usage. Once the simulation is completed you can view graphs,
            share the link with others so they can view it, use the simulation to make more simulations and also download the
            complete simulation data so you can analyze it with any tool that can read HDF5 files.</p>
          </div>
        </div>


      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-default" href="{% url 'simulation:create_batch_simulation' %}"
             data-toggle="tooltip" data-placement="bottom" title="Create a Design of Experiments set of simulations based on an already completed simulation.">Create&nbsp;Batch&nbsp;Simulation</a>
        </div>
        <div class="col-md-9">
          <p>This allows the creation of a set of simulations that vary one or more parameters from a single simulation.
          This requires an already completed simulation to be used as a starting point.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-default" href="{% url 'simulation:choose_search_query' %}"
             data-toggle="tooltip" data-placement="bottom" title="Search through your simulations">Find&nbsp;Simulation</a>
        </div>
        <div class="col-md-9">
          <p>You can use this to find any simulation you have created so you can review the results, download the simulation
          or use the simulation as the basis for a new simulation.</p>
        </div>
      </div>


        <div class="row">
          <div class="col-md-12">
              <h3>Examples</h3>
              <div class="row">
                  <div class="col-md-2">Study</div>
                <div class="col-md-2">Model</div>
                  <div class="col-md-2">Isotherm</div>
                <div class="col-md-2">Results</div>
                  <div class="col-md-2">Create Simulation</div>
                  <div class="col-md-2">Create Batch</div>
              </div>
              <hr>
              {% for search_result in search_examples %}
              <div class="row">
                <div class="col-md-2">{{ search_result.0 }}</div>
                <div class="col-md-2">{{ search_result.1 }}</div>
                <div class="col-md-2">{{ search_result.2 }}</div>
              <div class="col-md-2"><a class="btn btn-primary" href="{{ search_result.3 }}"
                         data-toggle="tooltip" data-placement="bottom" title="View the results of this simulation along with downloading the simulation file, images and results.">Results</a></div>
                  <div class="col-md-2"><a class="btn btn-primary" href="{{ search_result.4 }}"
                         data-toggle="tooltip" data-placement="bottom" title="Create a new simulation using this simulation as a basis">Start Single</a></div>
                  <div class="col-md-2"><a class="btn btn-primary" href="{{ search_result.5 }}"
                         data-toggle="tooltip" data-placement="bottom" title="Create a new Design of Experiments set of simulations based on this simulation">Start Batch</a></div>
              </div>
              {% endfor %}

              <h3>Your Recent Simulations  <a href="{% url 'simulation:find_simulations' %}">Find My simulations <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></h3>
              <div class="row">
                  <div class="col-md-2">When</div>
                  <div class="col-md-2">Study</div>
                <div class="col-md-2">Model</div>
                <div class="col-md-2">Results</div>
              </div>
              <hr>
              {% for search_result in search_history %}
              <div class="row">
                  <div class="col-md-2">{{ search_result.6 }}</div>
                <div class="col-md-2">{{ search_result.0 }}</div>
                <div class="col-md-2">{{ search_result.1 }}</div>
                <div class="col-md-2"><a class="btn btn-primary" href="{{ search_result.3 }}"
                    data-toggle="tooltip" data-placement="bottom" title="View the results of this simulation along with downloading the simulation file, images and results.">Results</a></div>
                  </div>
              {% endfor %}

              
          </div>
        </div>
              </div>
        </section>    

{% endblock %}
