{% extends 'simulation/base.html' %}

{% block body %}
<form id="cadet_form" class="form-horizontal" role="form" style="" action="{% url 'simulation:simulation_setup' %}" method="POST">
      {% csrf_token %}
      <div class="row">

            <div class="form-group">
              <div class="col-sm-12">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default {% if advanced_ui == 'normal' %} active {% endif %} " {% if advanced_ui == 'normal' %} checked {% endif %} onclick="$('body').removeClass('advanced').addClass('normal');">
                  <input type="radio" name="advanced_ui" value="normal" id="option1" autocomplete="off"> Normal User Interface
                </label>
                <label class="btn btn-default {% if advanced_ui == 'advanced' %} active {% endif %}" {% if advanced_ui == 'advanced' %} checked {% endif %} onclick="$('body').addClass('advanced').removeClass('normal');">
                  <input type="radio" name="advanced_ui" value="advanced" id="option2" autocomplete="off"> Advanced User Interface
                </label>
              </div>  
              </div>
            </div>   
      
      <input type="hidden" name="json" value="{{ json }}">

        <div class="col-md-12">
          <h1>Loading&nbsp;Setup</h1>
          <p>The equation for component concentration at each step follows the form
              Constant+Linear*x+Quadratic*x^2+Cubic*x^3 for each component.</p>
        </div>
      </div>


    <div class="jumbotron graph_wide">
           <h3>Inlet Profile</h3>
        <div>
            <div class="row graph_row">
                <div class="col-md-9 medium" id="graph"></div>
                <div class="col-md-3 medium" id="graphchoice"></div>
            </div>
        </div>
      </div>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            function start_plot(datasets, init) {
                // hard-code color indices to prevent them from shifting as
                // countries are turned on/off
                var datasets = datasets;
                var i = 0;
                $.each(datasets, function (key, val) {
                    val.color = i;
                    ++i;
                });

                // insert checkboxes
                var choiceContainer = $('#graphchoice');

                if (init == 1) {
                    for (var key in datasets) {
                        choiceContainer.prepend("<br/><input type='checkbox' name='" + key +
                            "' checked='checked' id='id" + key + "'></input>" +
                            "<label for='id" + key + "'>"
                            + datasets[key].label + "</label>");
                    };
                };

                choiceContainer.find("input").click(plotAccordingToChoices);

                function plotAccordingToChoices() {

                    var data = [];

                    choiceContainer.find("input:checked").each(function () {
                        var key = $(this).attr("name");
                        if (key && datasets[key]) {
                            data.push(datasets[key]);
                        }
                    });

                    var plot = $.plot('#graph', data, {
                        canvas: true,
                        axisLabels: {
                            show: true,
                        },
                        yaxis: {
                            tickFormatter: function (v, axis) { return v.toExponential(2); },
                            position: 'left',
                            axisLabel: 'Concentration (mMol)',
                            axisLabelUseCanvas: true
                        },
                        xaxis: {
                            axisLabel: 'Time(s)',
                            axisLabelUseCanvas: true,
                            axisLabelPadding: 8,
                        },
                        zoom: {
                            interactive: false
                        },
                        pan: {
                            interactive: false
                        },
                        legend: {
                            position: 'ne'
                        },
                        selection: {
                            mode: "xy"
                        },
                        yaxes: [{}, { position: "right" }]
                    });




                }

                plotAccordingToChoices();
            }


    function my_plot(init) {
        $.post(
             "/simulation/inlet_graph/",
             $("#cadet_form").serialize(),
             function (data) {
                     start_plot(data, init);
             }

          );
    };

    my_plot(1);

    $("input").bind("change paste keyup", function(event) {
          my_plot(0);
      });
   });
   </script>

<div class="tabs">
    <ul>
         <li><a href="#Times">Times</a></li>
      {% for step, value in steps %}
          <li><a href="#{{ step }}">{{ step }}</a></li>
      {% endfor %}

    </ul>
       <div id="Times">


        <table class="wide"><tr><td>
			{% for label, form_name, value in step_times %}
	            <div class="form-group">
	              <div class="col-sm-6">
	                <label class="control-label">{{ label }} (s)</label>
	              </div>
	              <div class="col-sm-6">
	                <input type="text" class="form-control required" value="{{ value }}" name="{{ form_name }}">
	              </div>
	            </div>
			{% endfor %}
        </td><td>
            {% for idx, first, second, checked_yes, checked_no in continuous %}

			<div class="form-group">
                  <div class="radio">
                      <div class="col-sm-2"></div>
                   <div class="col-sm-6">{{ first }} to {{ second }} Continuous</div>
    				<input type="radio" id="continuous_{{ idx }}1" name="continuous_{{ idx }}" {{ checked_yes }} value="1"><label for="continuous_{{ idx }}1">Yes</label>
    				<input type="radio" id="continuous_{{ idx }}2" name="continuous_{{ idx }}" {{ checked_no }} value="0"><label for="continuous_{{ idx }}2">No</label>
                </div>
            </div>

			{% endfor %}
        </td>
        </tr></table>
  </div>

    {% for step_id, step, value in steps %}
         <div id="{{ step_id }}">{{ value|safe }}</div>
      {% endfor %}

                <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-danger back" data-post="{{ back }}" formnovalidate><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To {{ back_text }} </button>
                <button type="submit" class="btn btn-success">Continue To Simulation Settings Setup <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
              </div>
            </div>

 </form>

{% endblock %}