{% extends 'simulation/base.html' %}

{% block body %}

<form class="form-horizontal" role="form" style="" action="{% url 'simulation:graph_setup' %}" method="POST">
          {% csrf_token %}
<div class="row">
<input type="hidden" name="json" value="{{ json }}">
        <div class="col-md-12">
          <h1>Modify Attributes</h1>
            <p>Values can be absolute numbers for the upper and lower bound or they can be percentages if a % is used.
                The first value can also be a negative percentage and then the second value is read relative to the center.</p>
            <p>Example: If the base value is 1 then a value of 0.75 and 1.25,  -25% to 25% and 75% to 125% will all generate the same range.</p>
            <p>The base case is always included in the simulation.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Linear Distribution</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width:10em;">Attribute</th>
                <th style="width:10em;">Current Value</th>
                <th>Lower Bound</th>
                <th>Upper Bound</th>
                <th>Number of Points</th>
              </tr>
            </thead>
            <tbody>

            {% for linear, value in linears %}
              <tr>
                 <td>{{ linear }}</td>
                <td>{{ value }}</td>
                <td>
                  <input type="text" class="form-control required" name="linear_lb:{{ linear }}" id="linear_lb:{{ linear }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="linear_ub:{{ linear }}" id="linear_ub:{{ linear }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="linear_number:{{ linear }}" id="linear_number:{{ linear }}">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Random Distribution</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width:10em;">Attribute</th>
                <th style="width:10em;">Current Value</th>
                <th>Lower Bound</th>
                <th>Upper Bound</th>
                <th>Number of Points</th>
              </tr>
            </thead>
            <tbody>
            {% for random, value in randoms %}
              <tr>
                <td>{{ random }}</td>
                <td>{{ value }}</td>
                <td>
                  <input type="text" class="form-control required" name="random_lb:{{ random }}" id="random_lb:{{ random }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="random_ub:{{ random }}" id="random_ub:{{ random }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="random_number:{{ random }}" id="random_number:{{ random }}">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="col-md-12">
            <h1>Chosen Distribution</h1>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width:10em;">Attribute</th>
                <th style="width:10em;">Current Value</th>
                <th>Values (comma seperated)</th>
              </tr>
            </thead>
            <tbody>
            {% for choice, value in choices %}
              <tr>
                <td>{{ choice }}</td>
                <td>{{ value }}</td>
                <td>
                  <input type="text" class="form-control required" name="choice:{{ choice }}" id="choice_{{ choice }}">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger back" data-post="{{ back }}" formnovalidate>Back To {{ back_text }}</button>
                <button type="submit" class="btn btn-success">Continue to Performance Parameter Selection</button>
              </div>
            </div>
        </div>
      </div>
</form>

{% endblock %}