{% extends 'simulation/base.html' %}

{% block body %}

<form class="form-horizontal" role="form" style="" action="{% url 'simulation:graph_setup' %}" method="POST">
          {% csrf_token %}
<div class="row">
<input type="hidden" name="json" value="{{ json }}">
        <div class="col-md-12">
          <h1>Modify Attributes</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Linear Distribution</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width:10em;">Attribute</th>
                <th style="width:10em;">Current Value</th>
                <th>Lower Bound</th>
                <th>Upper Bound</th>
                <th>Number of Points</th>
              </tr>
            </thead>
            <tbody>

            {% for linear, value in linears %}
              <tr>
                 <td>{{ linear }}</td>
                <td>{{ value }}</td>
                <td>
                  <input type="text" class="form-control required" name="linear_lb:{{ linear }}" id="linear_lb:{{ linear }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="linear_ub:{{ linear }}" id="linear_ub:{{ linear }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="linear_number:{{ linear }}" id="linear_number:{{ linear }}">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Random Distribution</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width:10em;">Attribute</th>
                <th style="width:10em;">Current Value</th>
                <th>Lower Bound</th>
                <th>Upper Bound</th>
                <th>Number of Points</th>
              </tr>
            </thead>
            <tbody>
            {% for random, value in randoms %}
              <tr>
                <td>{{ random }}</td>
                <td>{{ value }}</td>
                <td>
                  <input type="text" class="form-control required" name="random_lb:{{ random }}" id="random_lb:{{ random }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="random_ub:{{ random }}" id="random_ub:{{ random }}">
                </td>
                <td>
                  <input type="text" class="form-control required" name="random_number:{{ random }}" id="random_number:{{ random }}">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="col-md-12">
            <h1>Chosen Distribution</h1>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="width:10em;">Attribute</th>
                <th style="width:10em;">Current Value</th>
                <th>Values (comma seperated)</th>
              </tr>
            </thead>
            <tbody>
            {% for choice, value in choices %}
              <tr>
                <td>{{ choice }}</td>
                <td>{{ value }}</td>
                <td>
                  <input type="text" class="form-control required" name="choice_{{ random }}}" id="choice_{{ random }}}">
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Continue to Graph Selection</button>
              </div>
            </div>
        </div>
      </div>
</form>

{% endblock %}