{% extends 'simulation/base.html' %}

{% block body %}
<form class="form-horizontal" role="form" style="" action="{% url 'simulation:graph_setup' %}" method="POST">
      {% csrf_token %}
      <div class="row">
      
            <div class="form-group">
              <div class="col-sm-12">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default {% if advanced_ui == 'normal' %} active {% endif %} " {% if advanced_ui == 'normal' %} checked {% endif %} onclick="$('body').removeClass('advanced').addClass('normal');">
                  <input type="radio" name="advanced_ui" value="normal" id="option1" autocomplete="off"> Normal User Interface
                </label>
                <label class="btn btn-default {% if advanced_ui == 'advanced' %} active {% endif %}" {% if advanced_ui == 'advanced' %} checked {% endif %} onclick="$('body').addClass('advanced').removeClass('normal');">
                  <input type="radio" name="advanced_ui" value="advanced" id="option2" autocomplete="off"> Advanced User Interface
                </label>
              </div>  
              </div>
            </div>     
      
      
      <input type="hidden" name="json" value="{{ json }}">
        <div class="col-md-12 advanced">
        	<h1>Simulation&nbsp;Setup</h1>
        </div>

		<div class="col-md-12 advanced">
			<div class="form-group">
		          <div class="col-sm-2">
		            <label class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ CHROMATOGRAPHY_TYPE_tip }}">{{ CHROMATOGRAPHY_TYPE_human }}</label>
		          </div>
		          <div class="col-sm-10">
		            <select class="form-control required" name="CHROMATOGRAPHY_TYPE">
		           
		           {% for model_name, model_value, selected in rate_models %}
		                <option value="{{ model_value }}" {{ selected }}>{{ model_name }}</option>
		           {% endfor %}
		
		            </select>
		          </div>
			</div>
		</div>

		<div class="col-md-12">
			<h1>Discretization</h1>
		</div>
		
		<div class="col-md-12">
		    <div class="form-group">
		      <div class="col-sm-2">
		        <label for="NCOL" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ NCOL_tip }}">{{ NCOL_human }}</label>
		      </div>
		      <div class="col-sm-10">
		        <input type="text" class="form-control required" id="NCOL" name="NCOL" value="{{ NCOL }}">
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-sm-2">
		        <label for="NPAR" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ NPAR_tip }}">{{ NPAR_human }}</label>
		      </div>
		      <div class="col-sm-10">
		        <input type="text" class="form-control required" id="NPAR" name="NPAR" value="{{ NPAR }}">
		      </div>
		    </div>
		    <div class="form-group advanced">
		      <div class="col-sm-2">
		        <label class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ PAR_DISC_TYPE_tip }}">{{ PAR_DISC_TYPE_human }}</label>
		      </div>
		      <div class="col-sm-10">
		        <select class="form-control required" name="PAR_DISC_TYPE">
		        
		           {% for name, value, selected in discretizations %}
		                <option value="{{ value }}" {{ selected }}>{{ name }}</option>
		           {% endfor %}
		        </select>
		      </div>
	        </div>

                <div class="form-group advanced">
                  <div class="col-sm-2">
                    <label for="PAR_DISC_VECTOR" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ PAR_DISC_VECTOR_tip }}">{{ PAR_DISC_VECTOR_human }}</label>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control required" id="PAR_DISC_VECTOR_1" name="PAR_DISC_VECTOR_1" value="{{ PAR_DISC_VECTOR_1 }}">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control required" id="PAR_DISC_VECTOR_2" name="PAR_DISC_VECTOR_2" value="{{ PAR_DISC_VECTOR_2 }}">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control required" id="PAR_DISC_VECTOR_2" name="PAR_DISC_VECTOR_3" value="{{ PAR_DISC_VECTOR_3 }}">
                  </div>
                </div>
                <div class="form-group advanced">
                  <div class="col-sm-2">
                    <label class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ RECONSTRUCTION_tip }}">{{ RECONSTRUCTION_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <select class="form-control required" name="RECONSTRUCTION">
		               
		               {% for name, value, selected in reconstructions %}
		                    <option value="{{ value }}" {{ selected }}>{{ name }}</option>
		               {% endfor %}
                    </select>
                  </div>
                </div>
            </div>
            <div class="col-md-12 advanced">
              <h2>Weno</h2>
            </div>
            <div class="col-md-12 advanced">
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="weno_boundary_model" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ BOUNDARY_MODEL_tip }}">{{ BOUNDARY_MODEL_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="BOUNDARY_MODEL" name="BOUNDARY_MODEL" value="{{ BOUNDARY_MODEL }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="weno_EPS" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ WENO_EPS_tip }}">{{ WENO_EPS_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="WENO_EPS" name="WENO_EPS" value="{{ WENO_EPS }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="weno_order" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ WENO_ORDER_tip }}">{{ WENO_ORDER_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="WENO_ORDER" name="WENO_ORDER" value="{{ WENO_ORDER }}">
                  </div>
                </div>
                <div class="form-group"></div>
            </div>
            <div class="col-md-12 advanced">
              <h2>Solver</h2>
                <div class="form-group advanced ">
                  <div class="col-sm-2">
                    <label class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ LOG_LEVEL_tip }}">{{ LOG_LEVEL_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <select class="form-control required" name="LOG_LEVEL">
		               {% for name, value, selected in log_levels %}
		                    <option value="{{ value }}" {{ selected }}>{{ name }}</option>
		               {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group advanced">
                  <div class="col-sm-2">
                    <label class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ NTHREADS_tip }}">{{ NTHREADS_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" name="NTHREADS" value="{{ NTHREADS }}">
                  </div>
                </div>
                <div class="form-group advanced">
                  <div class="col-sm-2">
                    <label class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ USER_SOLUTION_TIMES_tip }}">{{ USER_SOLUTION_TIMES_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="USER_SOLUTION_TIMES"></textarea>
                  </div>
                </div>
                
                {% for radio_text, radio_tip, radio_form, checked_yes, checked_no in radios %}
                <div class="form-group advanced">
                  <div class="col-sm-offset-2 col-sm-10">
                  <div class="radio">
                   <div class="col-sm-3" data-toggle="tooltip" data-placement="bottom" title="{{ radio_tip }}">{{ radio_text }}</div>
    				<input type="radio" id="{{ radio_form }}1" name="{{ radio_form }}" {{ checked_yes|safe }} value="1"><label for="{{ radio_form }}1">Yes</label>
    				<input type="radio" id="{{ radio_form }}2" name="{{ radio_form }}" {{ checked_no|safe }} value="0"><label for="{{ radio_form }}2">No</label>
     			  </div>
                  </div>
                </div>
                {% endfor %}
                
              
            <div class="col-md-12 advanced">
              <h2>Schur Solver</h2>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="GS_TYPE" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ GS_TYPE_tip }}">{{ GS_TYPE_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="GS_TYPE" name="GS_TYPE" value="{{ GS_TYPE }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="MAX_KRYLOV" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ MAX_KRYLOV_tip }}">{{ MAX_KRYLOV_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="MAX_KRYLOV" name="MAX_KRYLOV" value="{{ MAX_KRYLOV }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="MAX_RESTARTS" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ MAX_RESTARTS_tip }}">{{ MAX_RESTARTS_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="MAX_RESTARTS" name="MAX_RESTARTS" value="{{ MAX_RESTARTS }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="SCHUR_SAFETY" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ SCHUR_SAFETY_tip }}">{{ SCHUR_SAFETY_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="SCHUR_SAFETY" name="SCHUR_SAFETY" value="{{ SCHUR_SAFETY }}">
                  </div>
                </div>
              <h2>Time Integrator</h2>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="time_ABSTOL" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ ABSTOL_tip }}">{{ ABSTOL_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="ABSTOL" name="ABSTOL" value="{{ ABSTOL }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="time_INIT_STEP_SIZE" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ INIT_STEP_SIZE_tip }}">{{ INIT_STEP_SIZE_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="INIT_STEP_SIZE" name="INIT_STEP_SIZE" value="{{ INIT_STEP_SIZE }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="time_MAX_STEPS" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ MAX_STEPS_tip }}">{{ MAX_STEPS_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="MAX_STEPS" name="MAX_STEPS" value="{{ MAX_STEPS }}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-2">
                    <label for="time_REL_TOL" class="control-label" data-toggle="tooltip" data-placement="bottom" title="{{ RELTOL_tip }}">{{ RELTOL_human }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control required" id="time_RELTOL" name="RELTOL" value="{{ RELTOL }}">
                  </div>
                </div>
 
            </div>
        </div>

        <div class="col-md-12">

          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger back" data-post="{{ back }}" formnovalidate><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To {{ back_text }} </button>
              <button type="submit" class="btn btn-success">Continue To Graph Setup <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
        
      </div>
      </form>

{% endblock %}