{% extends 'simulation/base.html' %}

{% block body %}
<form class="form-horizontal" role="form" style="" action="{% url 'simulation:component_and_step_setup' %}" method="POST">
     {% csrf_token %}
      <div class="row">
      <input type="hidden" name="json" value="{{ json }}">
      <input type="hidden" name="job_type" value="single">
        <div class="col-md-12">
          
            <div class="form-group">
              <div class="col-sm-12">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default {% if advanced_ui == 'normal' %} active {% endif %} " {% if advanced_ui == 'normal' %} checked {% endif %} onclick="$('body').removeClass('advanced').addClass('normal');">
                  <input type="radio" name="advanced_ui" value="normal" id="option1" autocomplete="off"> Normal User Interface
                </label>
                <label class="btn btn-default {% if advanced_ui == 'advanced' %} active {% endif %}" {% if advanced_ui == 'advanced' %} checked {% endif %} onclick="$('body').addClass('advanced').removeClass('normal');">
                  <input type="radio" name="advanced_ui" value="advanced" id="option2" autocomplete="off"> Advanced User Interface
                </label>
              </div>  
              </div>
            </div>
            
          
            <div class="form-group">
              <div class="col-sm-2">
                <label for="study_name" class="control-label">Study&nbsp;Name</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control required" id="study_name" name="study_name" value="{{ study_name }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="model_name" class="control-label">Product</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control required" id="product" name="product" value="{{ product }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="model_name" class="control-label">Model&nbsp;Name</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control required" id="model_name" name="model_name" value="{{ model_name }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="number_components" class="control-label">Number&nbsp;of&nbsp;Components</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control required" id="NCOMP" name="NCOMP" value="{{ numberOfComponents }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="number_steps" class="control-label">Number&nbsp;of&nbsp;Steps</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control required" id="NSEC" name="NSEC" value="{{ NSEC }}">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label class="control-label required">Choose Isotherm</label>
              </div>
              <div class="col-sm-10">
                <select class="form-control" name="ADSORPTION_TYPE">
                  {% for isotherm, cadet_name, selected in isotherms %}
                      <option {{ selected }} value="{{ cadet_name }}">{{ isotherm }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Continue To Steps And Components  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
              </div>
            </div>
        </div>
      </div>
      </form>

{% endblock %}